:root{
    --main-colour: #4D4551;
    --book-colour: #6D5C61;
    --button-colour: #52484B;
    --text-colour: #181818;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

.container{
    height: 100vh;
    width: auto;
    display: flex;
    background-color:  var(--main-colour);
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1{
    color: var(--text-colour);
    font-size: 2.5rem;
    font-weight: 700;
    padding: 2rem;
}

.btn{
    background-color: var(--button-colour);
    border: none;
    border-radius: 10px;
    color: var(--text-colour);
    font-size: 1.2rem;
    cursor: pointer;

}


.book{
    height: fit-content;
    min-width: fit-content;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    line-height: 50px;
    color: var(--text-colour);
    opacity: 0.8;
    border-radius: 5%;
    font-family: inherit;
    flex-grow: 1;
    font-size: 1.5rem;
    background-color: var(--book-colour);
    
}

.bookcontainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: fit-content;
    max-width: auto;
}

.addbtn{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 2rem;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    z-index: 2;
    background-color: var(--button-colour);
    font-size: 1.2rem;
}
.form{
    width: 600px;
    height: 600px; 
    background-color: var(--book-colour);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    z-index: 3;
    color: var(--text-colour);
    
    

}
form button{
    background-color: var(--button-colour);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.form input{
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    outline: none;
}

form h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

form label{
    font-size: 2rem;
}

form input[type=radio]{
    height: 2rem;
    
    background-color: var(--button-colour);
}

form input[type=radio]:checked{
    background-color: var(--button-colour);
}

.close{
    position: absolute;
    top:0;
    left: 0;
}
.form input, button{
    padding: 1rem;
    margin: 0.5rem;
    height: fit-content;
    width: fit-content;
}
.form input{
    width:300px;
    padding: 2rem;
}

.hidden{
    height:0;
    width: 0;
    opacity: 0;
}
.shown{
    opacity: 1;
}